page-contact {
    @font-face{
        font-family: Quantico;
        src: url("../../assets/Quantico")
    }
    *{
        font-family:Quantico;
    }
    .toolbar-background{
        background-color: #FFFFFF;
    }
    .toolbar-title-ios {
        text-align:right;
    }
    .toolbar-ios ion-title {
        padding-right: 55px;
        background-color: #FFFFFF;
    }
    .content{

        // background-image: url("../../assets/imgs/RICHOUT ICON.png") !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position-y:  bottom !important;
        background-position: center;

        // position: relative;

    background-image:url("../../assets/imgs/background.png") !important;
}

.segment-ios-primary .segment-button.segment-activated {
    color: #203E61;
    background-color: #BECBD8;
    height: 41px;
    border-radius: 3px;
    border-color: #BECBD8;
    p{font-size: large};
    ion-row > ion-col > #img{width:36px !important;height: 36px !important;};
}
.segment-md-primary .segment-button.segment-activated {
    color: #203E61;
    background-color: #BECBD8;
    height: 41px;
    border-radius: 3px;
    border-color: #BECBD8;
    p{font-size: large};
    ion-row > ion-col > #img{width:36px !important;height: 36px !important;};
}

.segment-ios-primary .segment-button {
    border-color: #DAE7F4;
    color: #203E61;
    background-color: #DAE7F4;
}
.segment-md-primary .segment-button {
    border-color: #DAE7F4;
    color: #203E61;
    background-color: #DAE7F4;
}

.scroll-content{overflow-y: auto;}
}
