page-home {
    @font-face{
        font-family: Quantico;
        src: url("../assets/fonts/Quantico")
    }
    *{
        font-family:Quantico;
    }
    .toolbar-background{
        background-color: #FFFFFF;
    }
    .toolbar-title-ios {
        text-align:right;
    }
    .toolbar-ios ion-title {
        padding-right: 55px;
        background-color: #FFFFFF;
    }
    .content{

            // background-image: url("../../assets/imgs/RICHOUT ICON.png") !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position-y:  bottom !important;
            background-position: center;

            // position: relative;

        background-image:url("../../assets/imgs/background.png") !important;
    }
    ion-slide.swiper-slide {
        align-items: flex-start;
    }


}
